body {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #a81c2c;
    margin-top: -10px;

}


/*===========================================================================*/
/* Background colours */
.bg-white {
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    width: auto;
}

.bg-light-gray {
    background-color: #e9eff1;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 3px;

}

.bg-gray {
    background-color: #3d3935;
    height: 25px;
}

/*===========================================================================*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: #b71820;
}


/*===========================================================================*/
/* Table stuff */

table {
    /* Collapse the border between the element headers in the table*/
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid #c7c6c7;
    width: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    padding: 5px;
}

tr {
    background-color: #dddddd;
    font-size: small;

}

td {
    background-color: #e9eff1;
    padding-top: 5px;
    font-stretch: condensed;

}

p {
    font-size: smaller;
}


.red-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.red-button {
    padding: 5px;
    margin-right: 10px;
    color: white;
    background-color: #b51119;
    border-radius: 5px;
    border: 1px solid #e9eff1;
    width: 85px;
    font-size: 12px;

}

.red-button:hover {
    background-color: darkred;
    /* Hover background color */
}

.red-button:active {
    background-color: #b51119;
    /* On-click */
}

.add-row-button {
    font-size: 12px;
    width: auto;
}

input {
    width: 25px;
    margin-bottom: -5px;
}


.white-box-shadow {
    width: auto;
    background-color: #a32020;
    /* Dark red color */
    box-shadow: 5px 0 5px -2px #82202b, -5px 0 5px -2px #82202b;
}